<div class=" w-full md:max-h-screen">
    <footer class="pt-10 md:grid md:grid-cols-3 bg-gray-950 text-white px-10 md:py-5">
        <!-- About Section  -->
        <div class="first my-5">
            <h2 class="text-2xl font-bold uppercase my-3">women safe house</h2>
            <p>Women Safe House Sustenance Initiative is a non-profit organization dedicated to protecting and
                rehabilitating women and
                girls from all forms of gender-based violence (GBV) in Nigeria. We provide shelter, legal aid,
                healthcare and
                comprehensive services to women and girls of all ages who are survivors of rape and other forms of
                sexual violence,
                domestic violence, female-genital-mutilation, child-marriage, harmful traditional practices and
                sex-trafficking. Since
                2016, we have created safe spaces for several women and girls to thrive.
            </p>
        </div>
        <div class="second col-span-2 justify-center">
            <div class="wrapper md:flex gap-5 my-5">
                <!-- Info Section -->
                <div class=" block my-3 md:mx-10">
                    <h2 class="uppercase text-lg font-bold mb-3">Info</h2>
                    <ul class="space-y-2">
                        <li class="underline underline-offset-1 "><a routerLink="/" href="">Mission</a></li>
                        <li class="underline underline-offset-1 "><a routerLink="/partners" href="">Partners</a></li>
                        <li class="underline underline-offset-1 "><a routerLink="/programs" href="">Programs</a></li>
                        <li class="underline underline-offset-1 "><a routerLink="/" href="">Policy Brief</a></li>
                    </ul>
                </div>

                <!-- Action Section  -->
                <div>
                    <h2 class="uppercase text-lg font-bold my-3">Action</h2>
                    <ul class="space-y-2">
                        <li class="underline underline-offset-1"><a routerLink="/volunteer" href="">Volunteer</a></li>
                        <li class="underline underline-offset-1"><a routerLink="/contact" href="">Contact Us</a></li>
                        <li class="underline underline-offset-1"><a
                                routerLink="https://flutterwave.com/pay/womensafehousesurvivors" href="">Donate</a></li>
                    </ul>
                </div>

                <!-- Contact Section  -->
                <div class="my-3 space-y-2 md:px-5">
                    <h2 class="uppercase text-lg font-bold mb-3">Contact</h2>
                    <div class="flex gap-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
                        </svg>

                        <p>Oyo State, Nigeria</p>
                    </div>
                    <div class="flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                        </svg>

                        <p>info@womensafehouse.org</p>
                    </div>
                    <div class="flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0 6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 0 1 4.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 0 0-.38 1.21 12.035 12.035 0 0 0 7.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 0 1 1.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 0 1-2.25 2.25h-2.25Z" />
                        </svg>

                        <p>(+234)8121133399</p>
                    </div>
                </div>
                <!-- Media Section -->
                <div class="my-3 md:mx-10">
                    <h2 class="uppercase text-lg font-bold mb-3">Follow us <span class="hidden"> on our social-media
                            pages </span> </h2>

                    <div class="flex md:space-x-5 ">

                        <div class="w-full">
                            <a href="https://www.facebook.com/womensafehouse" target="_blank">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </div>
                        <div class=" w-full">
                            <a href="https://www.instagram.com/womensafehouse" target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                        <div class="w-full">
                            <a href="https://x.com/WomenSafeHouse1" target="_blank">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>
                        </div>
                        <div class="w-full">
                            <a href="https://www.tiktok.com/@women.safe.house?_t=ZM-8tAu0yVUhzJ&_r=1" target="_blank">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </div>
                        <div class="w-full">
                            <a href="https://www.linkedin.com/company/women-safe-house/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>
                        <div class="w-full">
                            <a href="https://youtube.com/@womensafehouse7717?si=-7qcf2tcJZMZvGXn" target="_blank">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- Footer Bottom Section  -->
        <div class="mt-5 text-center w-full md:col-span-3">
            <div class="bg-gray-50 w-full p-0.5 rounded-lg my-5"></div>
            <p class="py-2 capitalize">&copy; Women Safe House Sustenance Initiative</p>
            <p class="capitalize">Oyo State, Nigeria</p>
        </div>
    </footer>

</div>