<main> 
    <!-- Banner Section -->
  <section class="relative h-[400px] bg-cover bg-center banner-con" style="background-image: url('assets/images/banner.jpg');">
    <div class="absolute inset-0 bg-gray-900 bg-opacity-70"></div> <!-- Overlay for better text visibility -->
    <div class="absolute inset-0 flex items-center justify-center">
      <h1 class="text-white text-4xl md:text-6xl font-bold">Upcoming Events</h1>
    </div>
  </section>

    <!-- Navigation Button to Previous Events -->
    <div class="flex justify-start mt-8 mx-8 pt-5 border-b-2 border-gray-50">
        <a href="/previous-events" class="flex items-center text-gray-500 font-semibold hover:text-gray-900 transition duration-300">
            <span class="mr-1">«</span>
            <span class="mr-2">Previous Events</span>
        </a>
    </div>

  <!-- Event Cards Container -->
  <div class="container mx-auto pt-8 pb-6 py-24">

    <!-- loading state  -->
    <div *ngIf="isLoading" class="text-center text-gray-500 text-2xl">
      <span class="loader"></span>
    </div>

    <!-- error state -->
    <div *ngIf="errorMessage" class="text-center text-red-500 text-xl mb-4">
      {{ errorMessage }}
    </div>

    <!-- Grid of Event Cards -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" *ngIf="events.length > 0; else noEventsTemplate">

      <!-- Event Card 1 -->
      <div class="w-full rounded-lg shadow-lg bg-white overflow-hidden transform transition-all duration-300 hover:scale-105 hover:shadow-xl cursor-pointer" *ngFor="let event of events" (click)="openEventDetails(event._id)">
        <img class="w-full h-72 object-cover" [src]="event.imagePath" alt="Event Image">
        <div class="p-6">
          <h2 class="text-3xl font-semibold text-gray-900 mb-2">{{ event.title }}</h2>
          <p class="text-gray-500 mb-4">{{ event.description }}</p>
          <div class="flex items-center space-x-4">
            <div class="flex items-center text-gray-900">
              <i class="fas fa-calendar-day mr-2"></i>
              <span>{{ event.startDate | date:'yyyy-MM-dd' }}</span>
            </div>
            <div class="flex items-center text-gray-900">
              <i class="fas fa-clock mr-2"></i>
              <span>{{ event.startDate | date:'HH:mm' }}</span>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- Pagination Controls -->
    <div *ngIf="totalPages > 0" class="flex justify-center mt-10 items-center">
      <button (click)="previousPage()" [disabled]="currentPage === 1" class="px-4 py-2 bg-gray-300 text-gray-800 rounded-md">
        Previous
      </button>
      <span class="mx-4 text-lg">Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="px-4 py-2 bg-gray-300 text-gray-800 rounded-md">
        Next
      </button>
    </div>

    <ng-template #noEventsTemplate>
      <div class="text-center text-gray-900 text-2xl font-bold">No upcoming events available at this time.</div>
    </ng-template>
  </div>

  <!-- Navigation Button to Previous Events -->
  <div class="flex justify-start mt-8 mx-8 pt-5 pb-14 border-t-2 border-gray-50">
      <a href="/previous-events" class="flex items-center text-gray-500 font-semibold hover:text-gray-900 transition duration-300">
          <span class="mr-1">«</span>
          <span class="mr-2">Previous Events</span>
      </a>
  </div>

</main>