<!-- Contact Us Section -->
<section class="py-12 bg-gray-100">
    <div class="container mx-auto px-6">
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">Contact Us</h2>
        <div class="flex flex-wrap -mx-4">
            <!-- Contact Form -->
            <div class="w-full lg:w-2/3 px-4 mb-8 lg:mb-0">
                <div class="bg-white shadow-md rounded-lg p-6">
                    <form (ngSubmit)="sendMessage(contactForm)" #contactForm="ngForm">
                        <div class="mb-4">
                            <label for="name" class="block text-gray-700 font-medium">Your Name</label>
                            <input type="text" id="name" name="name" [(ngModel)]="name" required #nameField="ngModel"
                                class="w-full mt-2 p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <div *ngIf="nameField.invalid && nameField.touched" class="text-red-600 text-sm">
                                Name is required.
                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="subject" class="block text-gray-700 font-medium">Subject</label>
                            <input type="text" id="subject" name="subject" [(ngModel)]="subject" required
                                #subjectField="ngModel"
                                class="w-full mt-2 p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <div *ngIf="subjectField.invalid && subjectField.touched" class="text-red-600 text-sm">
                                Subject is required.
                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="email" class="block text-gray-700 font-medium">Your Email</label>
                            <input type="email" id="email" name="email" [(ngModel)]="email" required email
                                #emailField="ngModel"
                                class="w-full mt-2 p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <div *ngIf="emailField.invalid && emailField.touched" class="text-red-600 text-sm">
                                Valid email is required.
                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="message" class="block text-gray-700 font-medium">Your Message</label>
                            <textarea id="message" name="message" rows="5" [(ngModel)]="message" required
                                #messageField="ngModel"
                                class="w-full mt-2 p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
                            <div *ngIf="messageField.invalid && messageField.touched" class="text-red-600 text-sm">
                                Message is required.
                            </div>
                        </div>

                        <button type="submit" [disabled]="contactForm.invalid"
                            class="w-full bg-blue-600 text-white font-bold py-3 rounded-lg hover:bg-blue-700 transition duration-300 disabled:opacity-50 disabled:cursor-not-allowed">
                            Send Message
                        </button>
                    </form>
                </div>
            </div>

            <!-- Contact Information section-->
            <div *ngIf="sending" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
                <div class="loader"></div> <!-- Spinner -->
            </div>
            <div class="w-full lg:w-1/3 px-4">
                <div class="bg-blue-600 text-white rounded-lg p-6 shadow-md">
                    <h3 class="text-2xl font-bold mb-4">Get in Touch</h3>
                    <p class="mb-4">Feel free to reach out to us for any inquiries, collaborations, or support.</p>
                    <ul class="space-y-4">
                        <li>
                            <span class="font-medium">Address:</span>
                            <p class="text-gray-200">Women Safe House Sustenance Initiative, Ibadan, Oyo State, Nigeria
                            </p>
                        </li>
                        <li>
                            <span class="font-medium">Phone:</span>
                            <p class="text-gray-200"><a href="tel:+2348121133399" class="hover:underline">+2348121133399</a></p>
                        </li>
                        <li>
                            <span class="font-medium">Email:</span>
                            <p class="text-gray-200"><a href="mailto:info@womensafehouse.org"
                                    class="hover:underline">info&#64;womensafehouse.org</a></p>
                        </li>
                    </ul>
            
                    <div class="flex md:space-x-3 mt-6 px-8">
            
                        <div class="w-full">
                            <a href="https://www.facebook.com/womensafehouse" target="_blank">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </div>
                        <div class=" w-full">
                            <a href="https://www.instagram.com/womensafehouse" target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                        <div class="w-full">
                            <a href="https://x.com/WomenSafeHouse1" target="_blank">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>
                        </div>
                        <div class="w-full">
                            <a href="https://www.tiktok.com/@women.safe.house?_t=ZM-8tAu0yVUhzJ&_r=1" target="_blank">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </div>
                        <div class="w-full">
                            <a href="https://www.linkedin.com/company/women-safe-house/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>
                        <div class="w-full">
                            <a href="https://youtube.com/@womensafehouse7717?si=-7qcf2tcJZMZvGXn" target="_blank">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div *ngIf="successMessage" class="text-green-600 font-bold">{{ successMessage }}</div>
<div *ngIf="errorMessage" class="text-red-600 font-bold">{{ errorMessage }}</div>