
<!-- navigation section -->
<!-- <div class="main h-full">
    <div class="navbar flex justify-center">
        <div class="w-4/5 bg-blue-700">
            <h1 class="text-white text-2xl px-5 py-4">WSH Admin Panel</h1>
        </div>
        <div class="navbar__menu flex bg-red-600 w-1/2 justify-around items-center">
            <div>
                <h2>Welcome Admin!</h2>
            </div>
            <ul class="flex gap-2">
                <li>
                    <a routerLink="/home" routerLinkActive="active">Login</a>
                </li>
                <!-- <li>
                    <a routerLink="/about" routerLinkActive="active">Logout</a>
                </li> 
            </ul>
        </div>
    </div>
</div>


 -->
<!--  -->

