<div class="">
  <h2 class="text-center font-bold uppercase py-1 mb-2 md:my-2 md:text-3xl">{{header}}</h2>
  <div class="flex justify-center items-center">
    <div class="w-2/12 sm:w-1/12 bg-slate-950 p-1 mb-5"></div>
  </div>
</div>
<div class="logos">
  <div class="logos-slide">
    <img src="./assets/images/funders/1.png" alt="3M" />
    <img src="./assets/images/funders/2.png" alt="Barstool" />
    <img src="./assets/images/funders/3.png" alt="Barstool" />
    <img src="./assets/images/funders/4.png" alt="Barstool" />
    <img src="./assets/images/funders/5.png" alt="Barstool" />
    <img src="./assets/images/funders/6.png" alt="Barstool" />
    <img src="./assets/images/funders/7.png" alt="Barstool" />
  </div>
  <!-- The cloned logos will be added automatically -->
</div>