
<div class="logos">
    <div class="logos-slide">
      <img src="./assets/images/funders/1.png" alt="3M" />
      <img src="./assets/images/funders/2.png" alt="Barstool" />
      <img src="./assets/images/funders/3.png" alt="Barstool" />
      <img src="./assets/images/funders/4.png" alt="Barstool" />
      <img src="./assets/images/funders/5.png" alt="Barstool" />
      <img src="./assets/images/funders/6.png" alt="Barstool" />
      <img src="./assets/images/funders/7.png" alt="Barstool" />
    </div>
    <!-- The cloned logos will be added automatically -->
</div>
  