<div class="relative w-full mx-auto overflow-hidden md:w-[85%] md:h-[400px]">
    <div class="h-full flex transition-transform duration-500 ease-in-out w-1/2 my-5 gap-3"
        [style.transform]="'translateX(' + (-currentIndex * 50) + '%)'">
        <img *ngFor="let image of images" [src]="image" alt="Slider Image" loading="lazy"  class="w-full md:w-[100%] h-full object-cover flex-shrink-0">
    </div>

    <!-- Controls -->
    <button
        class="absolute top-1/2 left-0 transform -translate-y-1/2 px-4 py-2 bg-black bg-opacity-50 text-white hover:bg-opacity-75"
        (click)="prev()">
        &#10094;
    </button>
    <button
        class="absolute top-1/2 right-0 transform -translate-y-1/2 px-4 py-2 bg-black bg-opacity-50 text-white hover:bg-opacity-75"
        (click)="next()">
        &#10095;
    </button>
</div>