<main role="main">
  <section>
    <div class="hero container grid grid-2-cols">
      <div class="hero-img-box">
        <div class="operation-content-box">
          <img [src]="productImage" class="product-image" alt="shoes" width="400">
        </div>
      </div>


      <div>
        <h1 class="headings-primary">
          Women Safe House Shirt
        </h1>
        <p class="description">
          Get our T-shirt and be part of a cause that matters

        </p>
        <p>This comfortable and stylish shirt represents strength, unity, and support for women in need. Every purchase
          contributes
          to helping women in our safe-house to rebuild their lives and gain independence.</p>
        <div class="price-section mt-1">
          <div class="price"> {{ (price || productPrice) | currency:'NGN ':'symbol':'1.2-2' }} </div>

        </div>
        <!-- Box for Size Selection -->
        <div class="mb-7">
          <div class="text-sm font-semibold text-gray-700 mb-4">Select Size</div>
          <div class="flex justify-around">
            <!-- Size Buttons -->
            <button (click)="selectSize('s')" [ngClass]="{'selected': selectedSize === 's'}" class="text-sm px-4 py-2 border rounded-lg transition-colors hover:bg-gray-300" value="s">S</button>
            <button (click)="selectSize('m')"  [ngClass]="{'selected': selectedSize === 'm'}"  class="text-sm px-4 py-2 border rounded-lg transition-colors hover:bg-gray-300" value="m">M</button>
            <button (click)="selectSize('l')"  [ngClass]="{'selected': selectedSize === 'l'}"  class="text-sm px-4 py-2 border rounded-lg transition-colors hover:bg-gray-300" value="l">L</button>
            <button (click)="selectSize('xl')"  [ngClass]="{'selected': selectedSize === 'xl'}"  class="text-sm px-4 py-2 border rounded-lg transition-colors hover:bg-gray-300" value="xl">XL</button>
          </div>
        </div>

        <!-- Box for Size Selection -->
        <div class="mb-7">
          <div class="text-sm font-semibold text-gray-700 mb-4">Select Cloth Type</div>
          <div class="flex justify-around">
            <!-- Size Buttons -->
            <button (click)="changeImage('endViolence')" [ngClass]="{'selected': selectedButton === 'endViolence'}"
              class="text-sm px-4 py-2 border rounded-lg transition-colors hover:bg-gray-300 capitalize">end
              violence</button>
            <button (click)="changeImage('proudlyFeminist')"
              [ngClass]="{'selected': selectedButton === 'proudlyFeminist'}"
              class="text-sm px-4 py-2 border rounded-lg transition-colors hover:bg-gray-300 capitalize">Proudly
              feminist</button>
            <button (click)="changeImage('noExcuses')" [ngClass]="{'selected': selectedButton === 'noExcuses'}"
              class="text-sm px-4 py-2 border rounded-lg transition-colors hover:bg-gray-300 capitalize">No
              excuses</button>
            <button (click)="changeImage('hores')" [ngClass]="{'selected': selectedButton === 'hores'}"
              class="text-sm px-4 py-2 border rounded-lg transition-colors hover:bg-gray-300 capitalize">Heroes</button>
          </div>
        </div>
        <div class="flex px-2 my-4">
          <input class="w-full px-4 py-4 rounded-lg" type="email" name="" id="" [(ngModel)]="email" placeholder="Email address">
        </div>

        <div class="btn-list grid">
          <div class="number-box">
            <button id="decrease" (click)="decreaseQuantity()">
              <img src="assets/images/icon-minus.svg" alt="icon-minus">
            </button>
            <span id="quanity">{{ quantity }}</span>
            <button id="increase" (click)="increaseQuantity()">
              <img src="assets/images/icon-plus.svg" alt="icon-plus">
            </button>
          </div>
          <button (click)="initiateProductPayment()" class="btn center">
            <span>
              <svg class="h-logo" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg">
                <path id="btn-icon"
                  d="M20.925 3.641H3.863L3.61.816A.896.896 0 0 0 2.717 0H.897a.896.896 0 1 0 0 1.792h1l1.031 11.483c.073.828.52 1.726 1.291 2.336C2.83 17.385 4.099 20 6.359 20c1.875 0 3.197-1.87 2.554-3.642h4.905c-.642 1.77.677 3.642 2.555 3.642a2.72 2.72 0 0 0 2.717-2.717 2.72 2.72 0 0 0-2.717-2.717H6.365c-.681 0-1.274-.41-1.53-1.009l14.321-.842a.896.896 0 0 0 .817-.677l1.821-7.283a.897.897 0 0 0-.87-1.114ZM6.358 18.208a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm10.015 0a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm2.021-7.243-13.8.81-.57-6.341h15.753l-1.383 5.53Z"
                  fill="#69707D" fill-rule="nonzero" />
              </svg>
            </span>
            Buy now
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
<div class="bg"></div>